{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Muhajeer Store - Home</title>
</head>
<body>

    
    <header class="header" id="headerid">
        <div class="top__header">
            <div class="left__top__header"></div>
            <div class="mid__top__header">
                <h1 class="glow">Muhajeer Store</h1>
            </div>
            <div class="right__top__header">
                <div class="nav__right__top__header">
                    <a href="/html/login.html">
                        <ion-icon class='ionicon' name="person-outline"></ion-icon>
                    </a>
                    <a href="">
                        <ion-icon class='ionicon' name="heart-outline"></ion-icon>
                    </a>
                    <a href="">
                        <ion-icon class='ionicon' name="search-outline"></ion-icon>
                    </a>
                    <a href="">
                        <ion-icon class='ionicon' name="bag-outline"></ion-icon>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="categorie">

        
        <div class="categorie__icon__box">
            <div class="int__categorie__icon__box">
                <a href="/html/clothe_categorie.html">
                    <ion-icon class='categorie__ionicon' name="accessibility"></ion-icon>
                </a>
                <h1>Cloth</h1>
            </div>
        </div>
        
        <div class="categorie__icon__box">
            <div class="int__categorie__icon__box">
                <a href="">
                    <ion-icon class='categorie__ionicon' name="barbell"></ion-icon>
                </a>
                <h1>Fitness</h1>
            </div>
        </div>
        
        <div class="categorie__icon__box">
            <div class="int__categorie__icon__box">
                <a href="">
                    <ion-icon class='categorie__ionicon' name="book"></ion-icon>
                </a>
                <h1>Book</h1>
            </div>
        </div>
        
        <div class="categorie__icon__box">
            <div class="int__categorie__icon__box">
                <a href="">
                    <ion-icon class='categorie__ionicon' name="color-palette"></ion-icon>
                </a>
                <h1>Painting</h1>
            </div>
        </div>

        
        <div class="categorie__icon__box">
            <div class="int__categorie__icon__box">
                <a href="">
                    <ion-icon class='categorie__ionicon' name="hardware-chip"></ion-icon>
                </a>
                <h1>HighTech</h1>
            </div>
        </div>
        
        <div class="categorie__icon__box">
            <div class="int__categorie__icon__box">
                <a href="">
                    <ion-icon class='categorie__ionicon' name="game-controller"></ion-icon>
                </a>
                <h1>Gaming</h1>
            </div>
        </div>
        
        <div class="categorie__icon__box">
            <div class="int__categorie__icon__box">
                <a href="">
                    <ion-icon class='categorie__ionicon' name="phone-portrait"></ion-icon>
                </a>
                <h1>Phone</h1>
            </div>
        </div>
        
        <div class="categorie__icon__box">
            <div class="int__categorie__icon__box">
                <a href="">
                    <ion-icon class='categorie__ionicon' name="restaurant"></ion-icon>
                </a>
                <h1>Kitchen</h1>
            </div>
        </div>

    </div>


    <div class="content"></div>
    
    <script type="text/javascript">
        DJANGO_STATIC_URL = '{{ STATIC_URL }}'
        var img1 = "{% static 'assets/city2.jpg' %}"
        var img3 = "{% static 'assets/pexels-kaip-597909.jpg' %}"
        var img2 = "{% static 'assets/mountain.jpg' %}"


        var imageSources = [img1, img2, img3]
        var index = 0;
        setInterval (function(){
        if (index === imageSources.length) {
            index = 0;
        }

        if (index === 0 || index === 1){
            document.getElementById("headerid").style.backgroundPositionY = '110lvh'
        } else if(index === 2){
            document.getElementById("headerid").style.backgroundPositionY = '97lvh'
        }

        document.getElementById("headerid").style.backgroundImage = imageSources[index];
        index++;
        } , 3300);
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Jacquard+12&family=Noto+Naskh+Arabic:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kaku+Gothic+New&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
        @import url('https://fonts.cdnfonts.com/css/young-serif');

        *{
            text-decoration: none;
            box-sizing: border-box;
        }


        :root{
            --main_color:#e0e0e0;
        }


        html, body{
            min-height: 100%;
        }

        body{
            background-color: var(--main_color);
            background-image: linear-gradient(62deg, #e0e0e0 0%, #d1d1d1 100%);
            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }




        /* Transition page Animation */

        .header{
            animation: transitionIn 1s;
        }


        @keyframes transitionIn{
            from{
                opacity: 0;
                transform: translateY(-50lvh);
            }
            
            to{
                opacity: 1;
                transform: translateY(0);
            }
        }



        .int__categorie__icon__box{
            animation: transitionIn2 1.2s;
        }


        @keyframes transitionIn2{
            from{
                opacity: 0;
                transform: translateY(100lvh);
            }
            
            to{
                opacity: 1;
                transform: translateY(0);
            }
        }



        /* END OF TRANSITION */



        .header{
            width: 100%;
            height: 65lvh;
            background-image: url(/assets/pexels-kaip-597909.jpg);
            background-size: 100%;
            background-position-y: 110lvh;
            filter: grayscale(50%);
            display: flex;
            transition: 0.5s all;
        }


        .top__header{
            width: 100%;
            height: 12lvh;
            display: flex;
            justify-content: space-between;
        }

        .left__top__header{
            width: 30%;
            height: 100%;
        }



        .mid__top__header{
            /* border: 1px solid #eee; */
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mid__top__header h1{
            color:#eee;
            cursor: default;
            font-family: "Cairo", sans-serif;
            font-weight: 700;
            font-style: normal;
            text-align: center;
            font-size: 7lvh;
            -webkit-text-stroke: 1px #000;
            font-family: 'Poppins', sans-serif;
        }


        .right__top__header{
            /* border: 1px solid #eee; */
            width: 30%;
            height: 100%;
        }

        .nav__right__top__header{
            /* border: 1px solid #000; */
            width: 50%;
            height: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5%;
        }

        .ionicon{
            color: #eee;
            width: 3.6lvh;
            height: 3.6lvh;
            margin: 0 2.0lvh 0 2.0lvh;
            transition: 0.3s all;
        }

        .ionicon:hover{
            color:#646464
        }


        .categorie{
            width: 100%;
            /* border: 1px solid #000; */
            height: 40lvh;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }


        .categorie__icon__box{
            /* border: 1px solid #000; */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .categorie__ionicon{
            width: 6lvh;
            height: 6lvh;
            color:#333;
            transition: 0.3s all;
            /* margin: auto; */
            margin-left: 20%;
        }

        .categorie__ionicon:hover{
            color:#000;
        }


        .int__categorie__icon__box{
            display: block;
            width: 20%;
        }

        .int__categorie__icon__box h1{
            font-family: 'Poppins', sans-serif;
            font-size: 2lvh;
            text-align: center;
            cursor: default;
            width: 100%;
        }




        .content{
            width: 100%;
            height: 50lvh;
        }
    </style>
</body>
</html>

