@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    text-decoration: none;
    box-sizing: border-box;
}


:root{
    --main_color:#e0e0e0;
}


html, body{
    min-height: 100%;
}

body{
    background-color: var(--main_color);
    background-image: linear-gradient(62deg, #e0e0e0 0%, #d1d1d1 100%);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}





/*  TRANSITION */
.header{
    animation: transitionIn 1.2s;
}


@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateX(-30lvh);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}


.main{
    animation: transitionIn2 1.3s;
}


@keyframes transitionIn2{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


/* END TRANSITION */




.header{
    /* border: 1px solid red; */
    width: 100%;
    height: 25lvh;
    display: block;
}

.int__header{
    width: 100%;
    height: 60%;
    display: flex;
    /* border: 1px solid #000; */
}

.top__header{
    width: 100%;
    height: 12lvh;
    display: flex;
    justify-content: space-between;
}

.left__top__header{
    width: 30%;
    height: 100%;
}



.mid__top__header{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid__top__header h1{
    color:#eee;
    font-size: 5lvh;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 6lvh;
    -webkit-text-stroke: 1px #000;
    font-family: 'Poppins', sans-serif;
}


.right__top__header{
    /* border: 1px solid #eee; */
    width: 30%;
    height: 100%;
}

.nav__right__top__header{
    /* border: 1px solid #000; */
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.ionicon{
    color: #474747;
    width: 3.6lvh;
    height: 3.6lvh;
    margin: 0 2.0lvh 0 2.0lvh;
    transition: 0.3s all;
}

.ionicon:hover{
    color:#a7a7a7
}




.search__box{
    /* border: 1px solid #000; */
    width: 50%;
    margin: auto;
    height: 40%;
}

.search__box form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.search__box input{
    outline: none;
    border: none;
    width: 40lvh;
    font-size: 3lvh;
    font-family: 'Poppins', sans-serif;
    border-radius: 1.5lvh;
    border-top-right-radius: 0lvh;
    border-bottom-right-radius: 0lvh;
    text-align: center;
}



.search__icon{
    background-color: white;
    cursor: pointer;
    width: 4.7lvh;
    height: 4.7lvh;
    border-top-right-radius: 1.5lvh;
    border-bottom-right-radius: 1.5lvh;

}




.main{
    /* border: 1px solid #000; */
    width: 100%;
    height: auto;
    display: flex;
}

.left__navbar{
    /* border: 1px solid #000; */
    width: 25%;
    height: 85lvh;
}

.content{
    /* border: 1px solid red; */
    width: 85%;
    height: auto;
}


.conf__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 12lvh;
}


.all__product{
    /* border: 1px solid #000; */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 17.5% 17.5% 17.5% 17.5% 17.5%;
    justify-content: space-between;
    row-gap: 10lvh;
}


.box{
    /* border: 1px solid #000; */
    height: 32lvh;
    border-radius: 1.8lvh;
    transition: 0.5s all;
}

.box:hover{
    border: 1px solid #000;
}

.all__product__box__top_box{
    width: 100%;
    height: 65%;
    background-image: url(/assets/pull1.webp);
    background-size: 70%;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-color: white;
    border-top-left-radius: 1.7lvh;
    border-top-right-radius: 1.7lvh;
    transition: 0.2s all;
}


.all__product__box__top_box:hover{
    background-image: url(/assets/pull1_dos.webp);

}




.all__product__box__bot_box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 35%;
}


.top__all__product__box__bot_box{
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
    display: flex;
}

.price__top__all__product__box__bot_box{
    /* border: 1px solid #000; */
    width: 50%;
    height: 100%;
}

.price__top__all__product__box__bot_box p{
    font-size: 2.5lvh;
    color:#000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2%;
    margin-left: 2%;
}


.true_false__top__all__product__box__bot_box{
    /* border: 1px solid #000; */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.true_false__top__all__product__box__bot_box img{
    width: 50%;
    height: 100%;
}

.bot__all__product__box__bot_box{
    /* border: 1px solid green; */
    width: 100%;
    height: 50%;
}


.bot__all__product__box__bot_box p{
    color:#000;
    font-size: 2lvh;
    margin-top: 2%;
    margin-left: 1%;
}