@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Jacquard+12&family=Noto+Naskh+Arabic:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.cdnfonts.com/css/young-serif');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    text-decoration: none;
    box-sizing: border-box;
}


:root{
    --main_color:#e0e0e0;
}


html, body{
    min-height: 100%;
}

body{
    background-color: var(--main_color);
    background-image: linear-gradient(62deg, #e0e0e0 0%, #d1d1d1 100%);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}



/* Transition page Animation */

.content{
    animation: transitionIn 1s;
}


@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateX(-50lvh);
    }
    
    to{
        opacity: 1;
        transform: translateX(0);
    }
}





.header{
    width: 100%;
    height: 12lvh;
    display: flex;
    transition: 0.5s all;
}


.top__header{
    width: 100%;
    height: 12lvh;
    display: flex;
    justify-content: space-between;
}

.left__top__header{
    width: 30%;
    height: 100%;
}



.mid__top__header{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid__top__header h1{
    color:#eee;
    font-size: 5lvh;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 6lvh;
    -webkit-text-stroke: 1px #000;
    font-family: 'Poppins', sans-serif;
}


.right__top__header{
    /* border: 1px solid #eee; */
    width: 30%;
    height: 100%;
}

.nav__right__top__header{
    /* border: 1px solid #000; */
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.ionicon{
    color: #474747;
    width: 3.6lvh;
    height: 3.6lvh;
    margin: 0 2.0lvh 0 2.0lvh;
    transition: 0.3s all;
}

.ionicon:hover{
    color:#a7a7a7
}


.content{
    width: 100%;
    height: 86lvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log__box{
    width: 25%;
    height: 75%;
    border-radius: 1.7lvh;
    /* box-shadow: 0lvh 0lvh 6lvh 4lvh #7599c8; */
    box-shadow: 0lvh 0lvh 6lvh 4lvh #0049e6;

    animation: log__box 1s ease-in-out infinite alternate;

}



@-webkit-keyframes log__box {
    from{
      box-shadow: 0 0 10lvh #fff, 0 0 2lvh #fff, 0 0 3lvh #7599c8, 0 0 4lvh #7599c8, 0 0 5lvh #7599c8, 0 0 6lvh #7599c8, 0 0 7lvh #7599c8;
    }
    
    to{
      box-shadow: 0 0 2lvh #fff, 0 0 3lvh #fff, 0 0 4lvh #1a7ae7, 0 0 5lvh #1a7ae7, 0 0 6lvh #1a7ae7, 0 0 7lvh #1a7ae7, 0 0 8lvh #1a7ae7;
    }
}



.top__log__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 15%;
    /* height: 10lvh; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.top__log__box__ionicon{
    color:#222;
    width: 5lvh;
    height: 5lvh;
    margin-top:-1.5%
}

.top__log__box p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4lvh;
    margin-left: 5%;
    cursor: default;
}




.content__log__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 70%;
}

.margintop{
    width: 100%;
    height: 15%;
}

.int__content__log__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.int__content__log__boxpassword{
    /* border: 1px solid #000; */
    width: 100%;
    height: 30%;

}

.password{
    /* border: 1px solid #000; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 30lvh;
    font-size: 2.8lvh;
    background-color: #eee;
    border-radius: 1.2lvh;
    outline: none;
    font-family: sans-serif;
}

.password-visual{
    cursor: pointer;
    margin-left: 2%;
    width: 3.5lvh;
    height: 3.5lvh;
}


.login__btn{
    color:#eee;
    background-color: #2468fa;
    border-radius: 1.5lvh;
    width: 12lvh;
    height: 5lvh;
    border: none;
    font-size: 3lvh;
    font-family: sans-serif;
    margin-left: 38%;
    margin-top: 9%;
}


.bottom__log__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    bottom: 0lvh;
}


.bottom__log__box h1{
    font-family: sans-serif;
    font-size: 2.3lvh;
    
}

.bottom__log__box a{
    color:#1a7ae7;
    transition: 0.3s all;
}

.bottom__log__box a:hover{
    color: #63acff;
}

